doctype html
html(lang="ru-RU")
  include modules/_head
  body
    <!--[if lt IE 7]>
    <p class="browsehappy">Вы используете <strong>устаревший</strong> браузер. Пожалуйста <a href="http://browsehappy.com/">обновите его</a></p>
    <![endif]-->

    //- Ваша верстак тут
    div.wrapper
        include blocks/_info-menu

        div.inner.content.clearfix
            div.main-bar
                include blocks/_content
            div.side-bar
                include blocks/_side-bar
                
    footer.footer 
        div.inner 
            div.copyright © 2016, Это мой сайт, пожалуйста, не копируйте и не воруйте его
    //- JS
    include modules/_scripts
