.side-bar__block {
	@include clearfix();
	padding: 0 10px;
	display: block;
	min-height: 70px;
}
.inputs__reset,
.inputs__download {
	color: #f1f1f5;
	font-family: $roboto_medium;
	font-size: 18px;
	font-weight: 500;
	margin-bottom: 20px;
}
.inputs__reset {
	float: left;
	width: 99px;
	min-height: 42px;
	background-color: #c1cfd9;
	border-radius: 3px;
	padding: 5px;
	border: none;
	outline: none;
	overflow: hidden;
	text-overflow: ellipsis;
	&:not(:disabled):hover{
		background-image: linear-gradient(to top, #c1cfd9 0%, #9eaab3 100%);
		border: 1px solid #a6b2bb;
	}
}
.inputs__reset:disabled {
	background: rgba(193,207,217,.5);
}
.inputs__download {
	float: right;
	width: 99px;
	min-height: 42px;
	background-color: #f97e76;
	border-radius: 3px;
	padding: 5px;
	border: none;
	outline: none;
	overflow: hidden;
    text-overflow: ellipsis;
	&:not(:disabled):hover {
		background-image: linear-gradient(to top, #f97e76 0%, #e3736c 100%);
		border: 1px solid #e3736c;
	}
}
.inputs__download:disabled {
	background: rgba(249,126,118,.5);
}