$axisInputSize: 45px;
$borderColor: #9eb2c0;
$cellSize: 33px;
$wrapSize: 102px;
.position__top {
  @include clearfix();
}
.position__label {
  font: 14px/15px $roboto_light;
  color: #2e3641;
  letter-spacing: 1px;
  padding: 13px 15px;
  display: block;
  float: left;
  width: 190px;
}
.position__bottom {
  padding: 25px 16px;
  @include clearfix();
}
//-- Переключатель режима
.view__list {
  float: right;
}
.view__item {
  @include inline-block(top);
  @include text-hide();
}
.view__link {
  width: 29px;
  height: 29px;
  display: block;
  position: relative;
}
.view__link:before {
  content: '';
  width: 19px;
  height: 19px;
  display: block;
  @include transform-to-center();
  background: url('../images/spritesheet.png') no-repeat;
}
.view-1:before,
.active-custom:before {
  width: nth($view-1, 5);
  height: nth($view-1, 6);
}
.view-1:before {
    background-position: nth($view-1, 3) nth($view-1, 4);
}
.active-random:before {
    background-position: nth($view-1-active, 3) nth($view-1-active, 4);
}
.view__item-1:hover .view-1:not(.active-random):before {
  width: nth($view-1-hover, 5);
  height: nth($view-1-hover, 6);
  background-position: nth($view-1-hover, 3) nth($view-1-hover, 4);
}
.view-2:before,
.active-random:before {
  width: nth($view-2, 5);
  height: nth($view-2, 6);
}
.view-2:before {
  background-position: nth($view-2, 3) nth($view-2, 4);
}
.active-custom:before {
    background-position: nth($view-2-active, 3) nth($view-2-active, 4);
}
.view__item-2:hover .view-2:not(.active-custom):before {
  width: nth($view-2-hover, 5);
  height: nth($view-2-hover, 6);
  background-position: nth($view-2-hover, 3) nth($view-2-hover, 4);
}
//-- губ позиционирования картинок
.position__wrap {
  float: left;
  width: $wrapSize;
  height: $wrapSize - 1px;
  border: 1px solid $borderColor;
  @include border-radius(2px);
  overflow: hidden;
  position: relative;
}
.position__table {
  background: #dbe1e8;
  width: 100%;
  height: 100%;
  border-top: none;
}
.position__row {
  &:not(:first-child) {
    border-top: 1px solid $borderColor;
  }
}
.position__cell {
  @include text-hide();
  width: $cellSize;
  height: $cellSize;
  position: relative;
  &:not(:first-child) {
    border-left: 1px solid $borderColor;
  }
}
//------
//------
.position__axis {
  //--- #1
  float: right;
  width: 106px;
  margin-left: 10px;
}
.position__axis-up,
.position__axis-down {
  @include clearfix();
  //--- #2
}
.position__axis-down {
  margin-top: 11px;
}
.position__axis_x-a,
.position__axis_x-b,
.position__axis_x-c,
.position__axis_y-a,
.position__axis_y-b,
.position__axis_y-c  {
  //--- #3
  float: left;
}
.position__axis_x-a,
.position__axis_y-a {
  width: 29px;
  height: 45px;
  position: relative;
}

.position__axis_x-c,
.position__axis_y-c {
  display: block;
  position: relative;
  width: 13px;
  height: 45px;
  margin-left: 10px;
  @include text-hide();
}
.position__axis_x-a:before,
.position__axis_y-a:before {
  color: #333;
  font-size: 16px;
  font-family: $roboto_light;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  position: absolute;
}
.axis__x-input,
.axis__y-input {
  float: left;
  width: $axisInputSize;
  height: $axisInputSize;
  outline: none;
  border: 1px solid $borderColor;
  @include border-radius(2px);
  font-family: $roboto_light;
  font-size: 16px;
  color: #444a53;
  text-align: center;
  padding: 8px;
  margin-left: 9px;
}
.axis__link {
  display: block;
  width: 13px;
  height: 8px;
  position: relative;
}
.axis__link:before {
  content: '';
  display: block;
  position: absolute;
  background-repeat: no-repeat;
  @include transform-to-center();
  background: url('../images/spritesheet.png');
}
.axis__x_arrow-up,
.axis__y_arrow-up {
  position: absolute;
  top: 0;
}
.axis__x_arrow-down,
.axis__y_arrow-down {
  position: absolute;
  bottom: 0;
}
.arrow__x-up:before,
.arrow__y-up:before {
  width: nth($st-sa, 5);
  height: nth($st-sa, 6);
  background-position: nth($st-sa, 3) nth($st-sa, 4);
}
.arrow__x-down:before,
.arrow__y-down:before {
  width: nth($st-sd, 5);
  height: nth($st-sd, 6);
  background-position: nth($st-sd, 3) nth($st-sd, 4);
}
.axis__x_arrow-up:hover .arrow__x-up:before,
.axis__y_arrow-up:hover .arrow__y-up:before {
  background-position: nth($st-sa-hover, 3) nth($st-sa-hover, 4);
}
.axis__x_arrow-down:hover .arrow__x-down:before,
.axis__y_arrow-down:hover .arrow__y-down:before {
  background-position: nth($st-sd-hover, 3) nth($st-sd-hover, 4);
}
//-------------------
// ----- RANDOM -----
.view__random {
  .pos-div__axis {
    display: none;
  }
  .position__link {
    width: 100%;
    height: 100%;
    display: block;
  }        
  .position__link:hover {
    background: #f97e76;
  }
  .position__link-active {
    background: #f97e76;
  }
  .axis__x-a,
  .axis__y-a {
    // position: relative;
  }
  .position__axis_x-a:before{
    content: "X";
  }
  .position__axis_y-a:before {
    content: "Y";
    // right: 0;
    // bottom: 50%;
    // transform: translateY(-50%);
    // position: absolute;
    // display: block;
  }
}
// ----- RANDOM - END
//-------------------

//-----------------------
//----- VIEW CUSTOM -----
.view__custom {
  .pos-div__axis {
    position: relative;
  }
  .pos-div__x,
  .pos-div__y {
    top: 50%;
    left: 50%;
    position: absolute;
    background: #f97e76;
    transform: translate(-50%, -50%);
  }
  .pos-div__x {
    width: 103px;
    height: 1px;
  }
  .pos-div__y {
    width: 1px;
    height: 103px;
  }
  .position__axis_x-a,
  .position__axis_y-a {
    font-size: 0;
  }
  .position__axis_x-a:before,
  .position__axis_y-a:before {
    content: '';
    display: block;
    position: absolute;
    background-repeat: no-repeat;
    background: url('../images/spritesheet.png');
    right: 0;
    top: 50%;
    transform: translateY(-50%);
  }
  .position__axis_x-a:before {
    width: nth($arrows-vertical, 5);
    height: nth($arrows-vertical, 6);
    background-position: nth($arrows-vertical, 3) nth($arrows-vertical, 4);
  }
  .position__axis_y-a:before {
    width: nth($arrows-horizontal, 5);
    height: nth($arrows-horizontal, 6);
    background-position: nth($arrows-horizontal, 3) nth($arrows-horizontal, 4);
  }
}
//----- VIEW CUSTOM - END
//-----------------------