$boxSize: 103px;

.side-bar__position {
  padding: 5px 5px 5px 5px;
  border-bottom: 1px solid #f97e76;
  position: relative;
}

.view {
  &__list {
    float: right;
    @include text-hide();
  }
  &__item {
    @include inline-block(top);
  }
}

.view__link {
  width: 29px;
  height: 29px;
  display: block;
  position: relative;
  &:before {
    content: '';
    width: 19px;
    height: 19px;
    display: block;
    @include transform-to-center();
    background: url('../images/spritesheet.png') no-repeat;
  }
}

.view-1:before,
.active-custom:before {
  width: nth($view-1, 5);
  height: nth($view-1, 6);
}
.view-1:before {
    background-position: nth($view-1, 3) nth($view-1, 4);
}
.active-random:before {
    background-position: nth($view-1-hover, 3) nth($view-1-hover, 4);
}
.view__item-1:hover .view-1:before {
  width: nth($view-1-hover, 5);
  height: nth($view-1-hover, 6);
  background-position: nth($view-1-hover, 3) nth($view-1-hover, 4);
}
.view-2:before,
.active-random:before {
  width: nth($view-2, 5);
  height: nth($view-2, 6);
}
.view-2:before {
  background-position: nth($view-2, 3) nth($view-2, 4);
}
.active-custom:before {
    background-position: nth($view-2-hover, 3) nth($view-2-hover, 4);
}
.view__item-2:hover .view-2:before {
  width: nth($view-2-hover, 5);
  height: nth($view-2-hover, 6);
  background-position: nth($view-2-hover, 3) nth($view-2-hover, 4);
}

.position {
      &__top {
        @include clearfix();
      }
      &__label {
        font: 14px/15px $roboto_light;
        color: #2e3641;
        letter-spacing: 1px;
        padding: 13px 15px;
        display: block;
        float: left;
      }
      &__top {

      }
      &__bottom {
        padding: 25px 16px;
        @include clearfix();
      }
      
      &__list {
        position: relative;
        @include text-hide();
        @include border-radius(5px);
        overflow: hidden;
      }

    &__item {
        @include inline-block(top);
        width: ($boxSize) / 3;
        height: ($boxSize) / 3;
        border: 1px solid #9eb2c0;
        // border-right: 1px solid #9eb2c0;
        // border-bottom: 1px solid #9eb2c0;
        background: #dbe1e8;
        // &:nth-child(3n+1) {
        //     border-left: 1px solid #9eb2c0;
        // }
    }

    &__link {
        
    }
}
.axis__up,
.axis__down {
  float: right;
  @include clearfix();
  @include text-hide();
}

.axis__down {
  margin-top: 13px;
}

.axis__x-a,
.axis__y-a {
  width: 45px;
  height: 45px;
  // display: block;
  // @include inline-block();
  float: left;
  position: relative;
}

.axis__x-b,
.axis__y-b {
  width: 45px;
  height: 45px;
  display: block;
  float: left;
  margin-left: 6px;
}

.axis__x-input,
.axis__y-input {
  width: 45px;
  height: 45px;
  border: 1px solid #ccc;
  @include border-radius(5px);
  outline: none;
  padding: 8px;
  font-family: $roboto_light;
  font-size: 16px;
  color: #444a53;
  text-align: center;
}

.axis__x-c,
.axis__y-c {
  width: 13px;
  height: 45px;
  display: block;
  float: left;
  margin-left: 6px;
  position: relative;
}

.axis__link {
  position: absolute
}

.arrow__x-up,
.arrow__y-up {
  top: 0
}

.arrow__x-down,
.arrow__y-down {
  bottom: 0
}

.arrow__x-up,
.arrow__x-down,
.arrow__y-up,
.arrow__y-down {
  width: 13px;
  height: 8px;
  &:before {
    content: '';
    display: block;
    position: absolute;
    background-repeat: no-repeat;
    @include transform-to-center();
    background: url('../images/spritesheet.png');
  }
}

.arrow__x-up:before,
.arrow__y-up:before {
  width: nth($st-sa, 5);
  height: nth($st-sa, 6);
  background-position: nth($st-sa, 3) nth($st-sa, 4);
}

.arrow__x-down:before,
.arrow__y-down:before {
  width: nth($st-sd, 5);
  height: nth($st-sd, 6);
  background-position: nth($st-sd, 3) nth($st-sd, 4);
}

.axis__x-item_up:hover .arrow__x-up:before {
  background-position: nth($st-sa-hover, 3) nth($st-sa-hover, 4);
}

.axis__x-item_down:hover .arrow__x-down:before {
  background-position: nth($st-sd-hover, 3) nth($st-sd-hover, 4);
}

.axis__y-item_up:hover .arrow__y-up:before {
  background-position: nth($st-sa-hover, 3) nth($st-sa-hover, 4);
}

.axis__y-item_down:hover .arrow__y-down:before {
  background-position: nth($st-sd-hover, 3) nth($st-sd-hover, 4);
}

.pos-div {
    width: $boxSize;
    height: $boxSize;
    float: left;
}
//----- VIEW RANDOM -----
//-----------------------
.view__random {
    .pos-div__axis {
        display: none;
    }
    .position {
        &__link {
            width: ($boxSize) / 3 - 2px;
            height: ($boxSize) / 3 - 2px;
            display: block;
            
            &:hover {
              background: #f97e76;
            }
        }
        &__link-active {
          background: #f97e76;
        }
    }

    .axis__x-a:before,
    .axis__y-a:before {
        color: #333;
        font-size: 16px;
        font-family: $roboto_light;
        right: 0;
        bottom: 50%;
        transform: translate(-50%, -50%);
        position: absolute;
    }
    .axis__x-a:before {
        content: 'X';
    }

    .axis__y-a:before {
        content: 'Y';
    }
}
//----- VIEW RANDOM - END -----
//-----------------------

//----- VIEW CUSTOM -----
//-----------------------
.view__custom {
    .pos-div {
        position: relative;
        &__x,
        &__y {
            top:  50%;
            left: 50%;
            position: absolute;
            background: #f97e76;
            transform: translate(-50%,-50%);
        }
        &__x {
            width: $boxSize;
            height: 10px;
        }
        &__y {
            width: 10px;
            height: $boxSize;
        }
    }
    .axis__x-a:before,
    .axis__y-a:before {
      content: '';
      display: block;

      position: absolute;
      background-repeat: no-repeat;
      background: url('../images/spritesheet.png');
    }
    .axis__x-a:before {
      right: 0;
      top: 50%;
      transform: translate(-50%, -50%);
      width: nth($arrows-vertical, 5);
      height: nth($arrows-vertical, 6);
      background-position: nth($arrows-vertical, 3) nth($arrows-vertical, 4);
    }
    .axis__y-a:before {
      right: 0;
      top: 50%;
      transform: translate(0, -50%);
      width: nth($arrows-horizontal, 5);
      height: nth($arrows-horizontal, 6);
      background-position: nth($arrows-horizontal, 3) nth($arrows-horizontal, 4);
    }
}
//----- VIEW CUSTOM - END  -----
//-----------------------------