.side-bar__transparency {
	border-bottom: 1px solid #f97e76;
	position: relative;
	margin-bottom: 55px;
    padding-bottom: 34px;
}

.transparency {
	&__top {
	}
	&__header {
		font: 14px/15px $roboto_light;
		color: #2e3641;
		letter-spacing: 1px;
		margin-bottom:9px;
		padding: 17px 15px 20px;
		display: block;
	}
	&__bottom {
		padding: 0 20px;
	}
}