.side-bar__transparency {
	border-bottom: 1px solid #f97e76;
	position: relative;
	margin-bottom: 58px;
}
.transparency {
	&__top {
	}
	&__label {
		font: 14px/15px $roboto_light;
		color: #2e3641;
		letter-spacing: 1px;
		padding: 13px 15px;
		display: block;
		float: left;
	}
	&__bottom {
		padding: 25px 16px;
	}
}

input[type=range] {
	-webkit-appearance: none;
	height: 3px;
	width:220px;
	border-radius: 2px;
	background: #dbe1e8;
}
input[type=range]::-webkit-slider-thumb {
	-webkit-appearance: none;
	cursor: pointer;
	width: 24px;
	height: 24px;
	border: 8px solid #dbe1e8;
	border-radius: 50%;
	background: #9eb2c0;
	box-shadow: 1px 2px 2px rgba(0,0,0,0.38);
}

input[type=range]:focus {
	outline: none;
}

input[type=range]::-ms-track {
	width: 100%;
	cursor: pointer;
	background: transparent;
	border-color: transparent;
	color: transparent;
}