.image-upload__input,
.watermark__input {
  display: none;
}
.image-upload,
.watermark {
    margin-top: 32px;
    position: relative;
    &__label {
      width: 210px;
      font: 14px/18px $roboto_light;
      color: #2e3641;
      letter-spacing: 1px;
      margin-bottom: 8px;
      display: block;
      cursor: pointer;
      overflow: hidden;
      text-overflow: ellipsis;
      @include clearfix();
    }
    &__wrapper {
        @include clearfix();
        @include text-hide();
        cursor: pointer;
    }
    &__txt,
    &__ico {
        float: left;
        height: 27px;
        font: 12px/14px $roboto_light;
        color: #2e3641;
    }
    &__txt {
      border-right: none;
      width: 181px;
      @include border-radius(3px 0 0 3px);
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      color: rgb(158, 178, 192);
      padding-left: 10px;
      font: 12px/27px $roboto_light;
      border: 1px solid #9eb2c0;
      border-right: none;
    }    
    &__ico {
        position: relative;
        border-left: none;
        width: 39px;
        background: $colorOrange;
        @include border-radius(0 3px 3px 0);

        &:after {
            content: '';
            display: block;
            position: absolute;
            width: 22px;
            height: 17px;
            background: url('../images/spritesheet.png');
            background-repeat: no-repeat;
            background-position: nth($download, 3) nth($download, 4);
            @include transform-to-center();
        }
    }
}
.watermark { margin-top: 22px; }