.main-bar__title {
	font: 36px/36px $roboto_light;
	color: #fff;
	margin: 15px 20px;
}
.main-bar__content {
	width: $innerWidth - $sideBarWidth - 50px;
	margin: 60px auto 0;
	height: 535px;
	background: #fff;
}

.main-bar__main-img, .main-bar__watermark {
	display: none;
	max-width: 200px;
}