.main-bar__title {
	width: $innerWidth - $sideBarWidth - 50px;
	font: 36px/36px $roboto_light;
	color: #fff;
	margin: 17px 21px;
	letter-spacing: -1.4px;
	overflow: hidden;
	text-overflow: ellipsis;
}
.main-bar__content {
	width: $innerWidth - $sideBarWidth - 50px;
	margin: 60px auto 0;
	height: 535px;
	background: url(../images/opacity_background.png) #fff;
	position: relative;
	overflow: hidden;
}

.main-bar__main-img {
	display: none;
	max-width: 650px;
	max-height: 535px;
	position: relative;
}
.main-bar__img-main{
	height: auto;
	display: block;
	overflow: hidden;
	@include center;
}

.watermark__img {
	cursor: pointer;
	position: absolute;
	display: none;
	cursor: move;
}
.main-bar__watermark{
	margin-bottom: 0;
	margin-left: 0;
	display: inline-block;
}