.popup {
	display: none;
	position: absolute;
	z-index: 9999;
	background-color: rgba(46, 54, 65, 0.64);
	top: 96px;
	right: 40px;
	padding: 15px;
	border-radius: 4px;
	font-size: 16px;
	color: #fff;

	&_error {
		box-shadow: 0px 1px 7.2px 0.8px #F44336;
	}

	&_success {
		box-shadow: 0px 1px 7.2px 0.8px #8BC34A;
	}
}