@import "__sidebar/title";
@import "__sidebar/upload";
.side-bar__upload {
    padding: 0 20px 30px 20px;;
    border-bottom: 1px solid #f97e76;
    position: relative;
}
@import "__sidebar/position";
.side-bar__position {
  padding: 5px 5px 5px 5px;
  border-bottom: 1px solid #f97e76;
  position: relative;

}
@import "__sidebar/transparency";
.side-bar__transparency {
	position: relative;
	border-bottom: 1px solid #f97e76;
	margin-bottom: 55px;
    padding-bottom: 34px;
}
@import "__sidebar/buttons";
.side-bar__upload:after,
.side-bar__position:after,
.side-bar__transparency:after {
  content: '';
  display: block;
  width: 10px;
  height: 10px;
  background: #f1f1f5;
  border-right: 1px solid #f97e76;
  border-bottom: 1px solid #f97e76;
  position: absolute;
  left: 50%;
  bottom: -10px;
  transform: rotate(45deg) translateX(-50%);
  z-index: 9999;
}
.side-bar__position-disabled,
.side-bar__transparency-disabled,
.watermark__form-disabled {
    content: '';
    position: absolute;
    display: block;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: #f1f1f5;
    z-index: 9998;
    opacity: 0.5;
}