@mixin border-radius($border) {
    -moz-border-radius: $border;
    -webkit-border-radius: $border;
    border-radius: $border;
}
@mixin transform-to-center() {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translateY(-50%) translateX(-50%);
    -moz-transform: translateY(-50%) translateX(-50%);
    -ms-transform: translateY(-50%) translateX(-50%);
    -o-transform: translateY(-50%) translateX(-50%);
    transform: translateY(-50%) translateX(-50%);
}
@mixin text-hide() {
	font: 0/0 serif;
	text-shadow: none;
	color: transparent;
}
@mixin inline-block($align: 'top') {
	display: inline-block;
    vertical-align: $align;
}

@mixin clearfix() {
    &:before,
    &:after {
        content: '';
        display: table;
    }
    &:after {
        clear: both;
    }
}
@mixin box-sizing($box) {
    -moz-box-sizing: $box;
    -webkit-box-sizing: $box;
    box-sizing: $box;
}
@mixin center {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translateY(-50%) translateX(-50%);
    -moz-transform: translateY(-50%) translateX(-50%);
    -ms-transform: translateY(-50%) translateX(-50%);
    -o-transform: translateY(-50%) translateX(-50%);
    transform: translateY(-50%) translateX(-50%);
}
@mixin range (){
    border: 7px solid #dbe1e8;
    border-radius: 50%;
    background-color: #9eb2c0;
    box-shadow: 1px 2px 2px rgba(0,0,0,0.38);
    cursor: pointer;
}

@mixin sprite-icon() {
    //-- Переменная для класса в котором будетр храниться кнопка
    $contaiter-element: 'social__item_';
    //-- Переменная для класса кнопки
    $content-element: 'social__';
    //-- Массив с именами для классов кнопки
    $icons: ('fb', 'tw', 'vk'); 
    //-- Переменная с массивами данные о спрайтах
    //-- данные создаются плагином "gilp.spritesmith"
    $icons-variable: ($fb, $tw, $vk);
    //-- Переменная с массивами данные о спрайтах
    //-- картинки которые будут отображаться при наведение мышки на кнопку
    $icons-variable-hover: ($fb-hover, $tw-hover, $vk-hover);

    //-- Саздаем класс для вывода картинки
    $i: 1;
    @each $val in $icons-variable {
      //-- назначаем имя класс - значение беется из массива
      $class-name: nth($icons, $i);
      .#{$content-element}#{$class-name}:before {
        //-- указываем ширину картинки - 5 элемент в массива
        width: nth($val, 5); 
        //-- указываем высоту а картинки - 6 элемент в массива
        height: nth($val, 6);
         //-- определяем местоположение картинки по осям X & Y
        //-- значения берем из масива - 3й и 4й элемент
        background-position: nth($val, 3) nth($val, 4);
      }
      $i: $i + 1;
    }
    //-- Саздаем класс для вывода картинки при "ховер" эфекте
    $b: 1;
    @each $val in $icons-variable-hover {
      //-- назначаем имя класс - значение беется из массива
      $class-name: nth($icons, $b);
      .#{$contaiter-element}#{$class-name}:hover .#{$content-element}#{$class-name}:before {
         //-- определяем местоположение картинки по осям X & Y
        //-- значения берем из масива - 3й и 4й элемент
        background-position: nth($val, 3) nth($val, 4);
      }
      $b: $b + 1;
    }
}