div.main-bar__container
    h1.main-bar__title Генератор водяных знаков
    div.main-bar__content
        .main-bar__img-wrap
            img(src="" alt="img" class="main-bar__main-img")
        .main-bar__img-wrap
            img(src="" alt="watermark" class="main-bar__watermark")
