div.main-bar__container
    h1(lang="main_title").main-bar__title Генератор водяных знаков
    div.main-bar__content
        .main-bar__img-main
            img(src="" class="main-bar__main-img")
            .watermark__img
                img(src="" class="main-bar__watermark")
        div.loading

