div.info-menu  
    div.lang
        ul.lang__list
            - var lang = ['РУС', 'ENG']
            - var lang_suffix = ['ru', 'en']
            each val, index in lang
                li.lang__item
                    a(href="#" lang="#{lang_suffix[index]}" class=" lang__#{lang_suffix[index]}").lang__link= val

    div.social
        a(href="#").social__title Like
        ul.social__list
            //- - var links = ['http://www.facebook.com/sharer.php?u=http://watermark.technofreedom.ru','http://twitter.com/home?status=http://watermark.technofreedom.ru','http://vk.com/share.php?url=http://watermark.technofreedom.ru']
            //- - var links = ['http://www.facebook.com/sharer.php?u=http://watermark.visermort.ru','http://twitter.com/home?status=http://watermark.visermort.ru','http://vk.com/share.php?url=http://watermark.visermort.ru']
            - var links = ['#','#','#'];
            - var social = ['Facebook', 'Twitter', 'Vkontakte']
            - var social_suffix = ['fb', 'tw', 'vk']
            each val, index in social
                li(class="social__item social__item_#{social_suffix[index]}")
                    a(href="#{links[index]}" target="_blank" class="social__link social__#{social_suffix[index]}")= val