div.preloader
	div(class="preloader__item preloader__item_1") 
	div(class="preloader__item preloader__item_2") 
	div(class="preloader__item preloader__item_3")
	div(class="preloader__item preloader__item_4") 
	div(class="preloader__item preloader__item_5") 
	div(class="preloader__item preloader__item_6") 
	div(class="preloader__item preloader__item_7") 
	div(class="preloader__item preloader__item_8") 
