div.side-bar__container

    h2.side-bar__title Настройки
    
    div.side-bar__upload
        
        div.image-upload
            form(class="image-upload__form" id="image-upload__form" action="#" method="POST" enctype="multipart/form-data")
                label(for="image-upload").image-upload__label Исходное изображение
                label(for="image-upload").image-upload__wrapper
                    div.image-upload__txt
                    div.image-upload__ico
                        input(type="file" name="files[]" id="image-upload" multiple).image-upload__input

        div.watermark
            form(class="watermark__form" id="watermark__form" action="#" method="POST" enctype="multipart/form-data")
                label(for="watermark").watermark__label Водяной знак
                label(for="watermark").watermark__wrapper
                    div.watermark__txt
                    div.watermark__ico
                        input(type="file" name="files[]" id="watermark" multiple).watermark__input

    div.side-bar__position

        div.position
            div.position__top
                label.position__label Положение
                ul.view__list
                    li.view__item.view__item-1
                        a(href="#" attr="random").view__link.view-1 view 1
                    li.view__item.view__item-2
                        a(href="#" attr="custom").view__link.view-2.active-custom view 2

            div.position__bottom.view__random
                div.pos-div
                    ul.position__list
                        li.position__item 1
                            a(href='#').position__link.top-left top left
                        li.position__item 2
                            a(href='#').position__link.top top middel
                        li.position__item 3
                            a(href='#').position__link.top-right top right
                        li.position__item 4
                            a(href='#').position__link.center-left center left
                        li.position__item 5
                            a(href='#').position__link.center center middel
                        li.position__item 6
                            a(href='#').position__link.center-right center right
                        li.position__item 7
                            a(href='#').position__link.bottom-left bottom left
                        li.position__item 8
                            a(href='#').position__link.bottom bottom middel
                        li.position__item 9
                          a(href='#').position__link.bottom-right bottom right
                    div.pos-div__axis.pos-div__y
                    div.pos-div__axis.pos-div__x

                .axis__up
                    .axis__x-a 
                        a(href='#').axis__l горизантально
                    .axis__x-b
                        input(type="text" name="axis-x" value='0').axis__x-input
                    ul.axis__x-c
                        li.axis__x-item_up
                            a(href='#').axis__link.arrow__x-up arrow up
                        li.axis__x-item_down
                            a(href='#').axis__link.arrow__x-down arrow down
                .axis__down
                    .axis__y-a горизантально
                    .axis__y-b
                        input(type="text" name="axis-y" value='0').axis__y-input
                    ul.axis__y-c
                        li.axis__y-item_up
                            a(href='#').axis__link.arrow__y-up arrow up
                        li.axis__y-item_down
                            a(href='#').axis__link.arrow__y-down arrow down

    div.side-bar__transparency
        div.transparency
            div.transparency__top
                div.transparency__header Прозрачность
            div.transparency__bottom
                div(class="slider" data-min="0" data-max="1")

    div.side-bar__block
        div.inputs
            button.inputs__reset Сброс
            button.inputs__download Скачать