div.side-bar__container

    h2.side-bar__title Настройки
    
    div.side-bar__upload
        
        div.image-upload
            form(class="image-upload__form" id="image-upload__form" action="#" method="POST" enctype="multipart/form-data")
                label(for="image-upload").image-upload__label Исходное изображение
                label(for="image-upload").image-upload__wrapper
                    div.image-upload__txt Выберите изображение
                    div.image-upload__ico
                        input(type="file" name="files[]" id="image-upload" multiple).image-upload__input

        div.watermark
            form(class="watermark__form" id="watermark__form" action="#" method="POST" enctype="multipart/form-data")
                label(for="watermark").watermark__label Водяной знак
                label(for="watermark").watermark__wrapper
                    div.watermark__txt Выберите водяной знак
                    div.watermark__ico
                        input(type="file" name="files[]" id="watermark" multiple).watermark__input

    div.side-bar__position

        div.position
            div.position__top
                label.position__label Положение
                ul.view__list
                    li.view__item.view__item-1
                        a(href="#" attr="random").view__link.view-1 view 1
                    li.view__item.view__item-2
                        a(href="#" attr="custom").view__link.view-2.active-custom view 2

            div.position__bottom.view__random
                div.position__wrap
                    table.position__table
                        tr.position__row
                            td.position__cell: a(href='#').position__link.position__link-active.top-left tl
                            td.position__cell: a(href='#').position__link.top tc
                            td.position__cell: a(href='#').position__link.top-right tr
                        tr.position__row
                            td.position__cell: a(href='#').position__link.center-left cl
                            td.position__cell: a(href='#').position__link.center cc
                            td.position__cell: a(href='#').position__link.center-right cr
                        tr.position__row
                            td.position__cell: a(href='#').position__link.bottom-left bl
                            td.position__cell: a(href='#').position__link.bottom bc
                            td.position__cell: a(href='#').position__link.bottom-right br                    


                    div.pos-div__axis.pos-div__x
                    div.pos-div__axis.pos-div__y


                div.position__axis
                    div.position__axis-up
                        div.position__axis_x-a X
                        div.position__axis_x-b: input(type="text" name="axis-x" value='0' max="650").axis__x-input
                        div.position__axis_x-c
                            div.axis__x_arrow-up
                                a(href='#').axis__link.arrow__x-up arrow up
                            div.axis__x_arrow-down
                                a(href='#').axis__link.arrow__x-down arrow down
                    
                    div.position__axis-down
                        div.position__axis_y-a Y
                        div.position__axis_y-b: input(type="text" name="axis-y" value='0' max="535").axis__y-input
                        div.position__axis_y-c
                            div.axis__y_arrow-up
                                a(href='#').axis__link.arrow__y-up arrow up
                            div.axis__y_arrow-down
                                a(href='#').axis__link.arrow__y-down arrow down

    div.side-bar__transparency
        div.transparency
            div.transparency__top
                div.transparency__header Прозрачность
            div.transparency__bottom
                div(class="slider" data-min="-1" data-max="0")

    div.side-bar__block
        div.inputs
            button.inputs__reset Сброс
            button.inputs__download Скачать