$arrows-horizontal: (0px, 111px, 0px, -111px, 29px, 9px, 126px, 120px, 'spritesheet.png', 'arrows-horizontal', );
$arrows-vertical: (115px, 0px, -115px, 0px, 11px, 30px, 126px, 120px, 'spritesheet.png', 'arrows-vertical', );
$download: (37px, 64px, -37px, -64px, 21px, 16px, 126px, 120px, 'spritesheet.png', 'download', );
$like-hover: (0px, 0px, 0px, 0px, 26px, 32px, 126px, 120px, 'spritesheet.png', 'like-hover', );
$like: (31px, 0px, -31px, 0px, 26px, 32px, 126px, 120px, 'spritesheet.png', 'like', );
$st-sa-hover: (63px, 64px, -63px, -64px, 13px, 8px, 126px, 120px, 'spritesheet.png', 'st-sa-hover', );
$st-sa: (70px, 37px, -70px, -37px, 13px, 8px, 126px, 120px, 'spritesheet.png', 'st-sa', );
$st-sd-hover: (96px, 87px, -96px, -87px, 13px, 8px, 126px, 120px, 'spritesheet.png', 'st-sd-hover', );
$st-sd: (95px, 64px, -95px, -64px, 13px, 8px, 126px, 120px, 'spritesheet.png', 'st-sd', );
$tw-hover: (0px, 37px, 0px, -37px, 28px, 22px, 126px, 120px, 'spritesheet.png', 'tw-hover', );
$tw: (62px, 0px, -62px, 0px, 28px, 22px, 126px, 120px, 'spritesheet.png', 'tw', );
$view-1-hover: (48px, 87px, -48px, -87px, 19px, 19px, 126px, 120px, 'spritesheet.png', 'view-1-hover', );
$view-1: (0px, 87px, 0px, -87px, 19px, 19px, 126px, 120px, 'spritesheet.png', 'view-1', );
$view-2-hover: (24px, 87px, -24px, -87px, 19px, 19px, 126px, 120px, 'spritesheet.png', 'view-2-hover', );
$view-2: (72px, 87px, -72px, -87px, 19px, 19px, 126px, 120px, 'spritesheet.png', 'view-2', );
$fb: (95px, 32px, -95px, -32px, 15px, 27px, 126px, 120px, 'spritesheet.png', 'fb', );
$fb-hover: (95px, 0px, -95px, 0px, 15px, 27px, 126px, 120px, 'spritesheet.png', 'fb-hover', );
$vk: (33px, 37px, -33px, -37px, 32px, 18px, 126px, 120px, 'spritesheet.png', 'vk', );
$vk-hover: (0px, 64px, 0px, -64px, 32px, 18px, 126px, 120px, 'spritesheet.png', 'vk-hover', );