html,
body {
	height: 100%;
	width: 100%;
}
body {
	background: url(../../images/background.jpg) no-repeat center center fixed;
	background-size: cover;
}
.wrapper {
	height: 100%;
	width: 100%;
	min-width: $innerWidth;
	position: relative;
	margin-top: 60px;
}
.wrapper:after {
	content: '';
	display: block;
	height: $footerHeight;
}
.inner {
	width: $innerWidth;
	margin: 0 auto;
}
.main-bar {
	float: left;
	width: $innerWidth - $sideBarWidth;
	height: $innerHeight;
	background: rgba(46,54,65,.64);
}
.side-bar {
	float: right;
	width: $sideBarWidth;
	height: $innerHeight;
	background: #fff;
}
.footer {
	width: 100%;
	position: absolute;
	height: $footerHeight;
	min-width: $innerWidth;
	margin-top: -$footerHeight;
}