html,
body {
	height: 100%;
	width: 100%;
	font: 21px/16px $roboto_light;
}
body {
	background: url(../images/background.jpg) no-repeat center center fixed;
	background-size: cover;
}
ul {
	margin: 0;
	padding: 0;
	list-style: none;
}
*{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
.wrapper {
	min-height: 100%;
	width: 100%;
	min-width: $innerWidth;
	margin-top: -$footerHeight;
	position: relative;
}
.wrapper:after {
	content: '';
	display: block;
	height: $footerHeight;
}
.inner {
	width: $innerWidth;
	margin: 0 auto;
}
.content {
	padding-top: 50px;
}
.main-bar {
	float: left;
	width: $innerWidth - $sideBarWidth;
	min-height: $innerHeight;
	padding-bottom: 25px;
	background: rgba(46,54,65,.64);
}
.side-bar {
	float: right;
	width: $sideBarWidth;
	min-height: $innerHeight;
	background: #fff;
}
.footer {
	width: 100%;
	position: absolute;
	height: $footerHeight;
	min-width: $innerWidth;
}