.ui-slider {
	position: relative;
	width: 218px;

	.ui-slider-handle {
		position: absolute;
		z-index: 2;
		width: 24px;   
		height: 24px;
		border-radius: 50%;
		outline: none;
		background: #dbe1e8;
		cursor: pointer;
		box-shadow: 1px 2px 2px rgba(0,0,0,0.38);

		&:after {
			position: absolute;
			content: '';
			top: 0;
			bottom: 0;
			left: 0;
			right: 0;
			margin: auto;
			display: block;
			width: 8px;
			height: 8px;
			background-color: #9eb2c0;
			border-radius: 50%;
		}

		&:hover:after {
			background: #f97e76;
		}
	}

	.ui-slider-range {
		position: absolute;
		z-index: 1;
		font-size: .7em;
		display: block;
		border: 0;
		overflow: hidden;
	}	
}


.ui-slider-horizontal {
	 height: 3px;

	.ui-slider-handle {
		top: -10px;
		margin-left: -13px;
	}
	
	.ui-slider-range {
		top: 0;
		height: 100%;
	}

	.ui-slider-range-min { 
		left: 0;
	}
	
	.ui-slider-range-max {
		right: 0;
	}
}

.ui-widget-content { 
	background: #9eb2c0;
}

.ui-widget-header { 
	border: 1px solid #D4D4D4;
	background: #dbe1e8;
}

.ui-corner-all {
	border-radius: 2px;
}